.container{
    width: 100%;
    padding: 30px;
    text-align: justify-all;
}
.col-lg-12{
    background-color: gray;
    border: 3px solid white;
    border-radius: auto;
    padding: 10px;
    color: white;
}
.col-lg-11{
    background-color: gray;
    border: 3px solid white;
    border-radius: auto;
    padding: 10px;
    color: white;
}
.col-lg-1{
    background-color: gray;
    border: 3px solid white;
    border-radius: auto;
    padding: 10px;
    color: white;
}

.box1{
    height: 50px;
}
.box2{
    height: 300px;
}
.box3{
    height: 300px;
}
