.container{
    width: 100%;
    padding: 30px;
}
.col-md-1{
color: white;
background-color: navy;
border: 1px solid white;
}
.col-md-3{
color: white;
background-color: purple;
border: 1px solid white;
}
.col-md-4{
color: white;
background-color: darkcyan;
border: 1px solid white;
}
.col-md-6{
color: white;
background-color: yellowgreen;
border: 1px solid white;
}
.col-md-8{
color: white;
background-color: salmon;
border: 1px solid white;
}
.col-md-12{
color: white;
background-color: green;
border: 1px solid white;
}